<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Camila Martinez - Home</title>
		<link rel="stylesheet" href="style.css">
		<script src="https://kit.fontawesome.com/f6088cc271.js" crossorigin="anonymous" defer></script>
	</head>

	<body>
		<nav class="menubar">
			<div class="home-container">
				<a href="home.html" class="menuItem" id="home">Camila Martinez</a>
			</div>
			<div class="menu-container">
				<ul id="menu-items">
					<li><button type="button" id="theme-swticher" onclick=""><i class="fa-solid fa-moon"></i></button></li>
					<li><a href="projects.html" id="menu-item">Projects</a></li>	
					<li><a href="#blog" id="menu-item">Blog</a></li>
					<li><a href="contact.html" id="menu-item">Contact</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="header">
				<div class="title">
					<h1>Hi👋
						<br>
						I'm Camila
					</h1>
					<h3>Software Engineering student</h3>
					<div class="btn-container">
						<button id="btn-projects"><a href="#projects">Projects</a></button>
					</div>
				</div>
				<div class="terminal-container">
					<img src="https://cdn-icons-png.flaticon.com/512/2103/2103689.png" 
					alt="terminal screen"
					title="terminal screen"
					height="200px">
				</div>
				<p id="github-link">Check out my 
					<a href="https://github.com/cammarb">
						<i class="fa-brands fa-github"></i> GitHub
					</a> 
					page!</p>
			</div>
		</div>
	</body>
</html>
