<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Camila Martinez - Projects</title>
		<link rel="stylesheet" href="style.css">
		<script src="https://kit.fontawesome.com/f6088cc271.js" crossorigin="anonymous" defer></script>
	</head>

	<body>
		<nav class="menubar">
			<div class="home-container">
				<a href="home.html" class="menuItem" id="home">Camila Martinez</a>
			</div>
			<div class="menu-container">
				<ul id="menu-items">
					<li><button type="button" id="theme-swticher" onclick=""><i class="fa-solid fa-moon"></i></button></li>
					<li><a href="projects.html" id="menu-item">Projects</a></li>	
					<li><a href="#blog" id="menu-item">Blog</a></li>
					<li><a href="contact.html" id="menu-item">Contact</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
            <div class="single-project">
                <div class="project-info">
                    <h2 id="project-title">Project #1</h2>
                    <p id="project-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Vivamus scelerisque scelerisque rutrum. 
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
                        per inceptos himenaeos. Class aptent taciti sociosqu ad litora 
                        torquent per conubia nostra, per inceptos himenaeos. 
                    </p>
                    <div class="project-links">
                        <a href="https://github.com/cammarb">
                            <i class="fa-brands fa-github" id="github-icon"></i>
                        </a> 
                    </div>
                </div>
                <div class="project-img-container">
                    <img src="https://raw.githubusercontent.com/cammarb/BinaryConverter/master/img/Home_ss.png" 
                    alt="project screenshot" id="project-img" title="project screenshot" id="project-img">
                </div>
            </div>

            <div class="single-project">
                <div class="project-info">
                    <h2 id="project-title">Project #2</h2>
                    <p id="project-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Vivamus scelerisque scelerisque rutrum. 
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
                        per inceptos himenaeos. Class aptent taciti sociosqu ad litora 
                        torquent per conubia nostra, per inceptos himenaeos. 
                    </p>
                    <div class="project-links">
                        <a href="https://github.com/cammarb">
                            <i class="fa-brands fa-github" id="github-icon"></i>
                        </a> 
                    </div>
                </div>
                <div class="project-img-container">
                    <img src="https://raw.githubusercontent.com/cammarb/BinaryConverter/master/img/Home_ss.png" 
                    alt="project screenshot" id="project-img" title="project screenshot" id="project-img">
                </div>
            </div>
		</div>
	</body>
</html>
