{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block header %}
<div>
    <h1>
        {% block title %}
        Projects 📁
        {% endblock %}
    </h1>
</div>
<div class="create-project">
    <button><a href="projects/new">Add a project</a></button>
</div>
{% endblock %}


{% block content %}
{% for project in projects %}
<div class="single-project">
    <div class="project-info">
        <h2 id="project-title">{{ project.title }}</h2>
        <p id="project-description">
            {{ project.description }}
        </p>
        <div class="project-links">
            <a href="{{project.gh_link}}" class="repo-link">
                <i class="fa-brands fa-github" id="github-icon"></i>
                Repository
            </a>
        </div>
    </div>
    <div class="project-img-container">
        <img src="{{project.image_link}}" alt="project screenshot" id="project-img" title="project screenshot">
    </div>
</div>
{% endfor %}
{% endblock %}