{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block header %}
<div>
    <h1>
        {% block title %} {{ project.name }} {% endblock %}
    </h1>
</div>
<form method="post">
    <div class="btn-container">
        <input type="submit" value="Delete">
    </div>
</form>
{% endblock %}

{% block content %}
<div class="single-project">
    <div class="project-info">
        <h1 id="project-title"> {{ project.title }} </h1>
        <div class="project-img-container">
            <img src="{{project.image_link}}" alt="project screenshot" id="project-img" title="project screenshot"
                id="project-img">
        </div>
        <p id="project-description">
            {{ project.description }}
        </p>
        <div class="project-links">
            <a href="{{project.gh_link}}">
                <i class="fa-brands fa-github" id="github-icon"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}