{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block header %}
<div>
    <h1>
        {% block title %} {{ project.title }} {% endblock %}
    </h1>
</div>
<div id="edit-btn">
    <form method="post" id="delete-form">
        <button type="submit" id="delete-btn">Delete</button>
    </form>
    <a href="/projects/{{project.id}}/edit">
        <button>Edit</button>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="single-project">
    <div class="project-info">
        <div class="project-img-container">
            <img src="{{project.image_link}}" alt="project screenshot" id="project-img" title="project screenshot"
                id="project-img">
        </div>
        <p id="project-description">
            {{ project.description }}
        </p>
        <div class="project-links">
            <a href="{{project.gh_link}}">
                <i class="fa-brands fa-github" id="github-icon"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}