{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block header %}
<h1>
    {% block title %}
    Projects 📁
    {% endblock %}
</h1>
{% if current_user.is_authenticated %}
<a href="projects/new">
    <button>Add a project</button>
</a>
{% endif %}
{% endblock %}


{% block content %}
{% for project in projects %}
<div class="project-container">
    <div class="project-info">
        <h2 id="project-title">{{ project.title }}</h2>
        <p id="project-description">
            {{ project.description }}
        </p>
        <div class="project-links">
            <a href="{{project.gh_link}}" class="repo-link">
                <i class="fa-brands fa-github" id="github-icon"></i>
                Repository
            </a>
        </div>
        {% if current_user.is_authenticated %}
        <a href="/projects/{{project.id}}/edit">
            <button>Manage</button>
        </a>
        {% endif %}
    </div>
    <div class="project-img">
        <img src="{{project.image_link}}" alt="project screenshot" title="project screenshot">
    </div>
</div>
{% endfor %}
{% endblock %}