{% extends 'base.html' %}
{% block head %}
{{super()}}
{% endblock %}

{% block header %}
<h2>
    {% block title %}Login{% endblock %}
</h2>
{% endblock %}

{% block content %}
<form method="post" class="login-register">
    <div class="input-container">
        <label for="email">Email:</label>
        <br>
        <input type="email" name="email">
    </div>
    <div class="input-container">
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password">
    </div>

    <div class="btn-container">
        <button type="submit" class="input-btn">Login</button>
    </div>

</form>
{% endblock %}