/* Google Font - Fira Code */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Fira Code", monospace;
  margin: 0;
}
.menubar {
  padding: 0 3rem;
  margin-top: 0.5rem;
}

button {
  background-color: rgb(39, 39, 39);
  border: none;
  border-radius: 0.25rem;
  width: 100px;
  height: 30px;
}
button a {
  text-decoration: none;
  color: white !important;
}
.home-container,
.menu-container {
  display: inline-block;
  margin: 0.9rem;
}
.menu-container {
  float: right;
}
.home-container a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}
#menu-items {
  list-style-type: none;
}
#menu-items li {
  display: inline;
}
#menu-item {
  text-decoration: none;
  color: rgb(39, 39, 39);
  margin-left: 50px;
}
#theme-swticher {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  padding: 5vh 0 5vh 0;
  margin: auto;
  width: fit-content;
}

.header {
  text-align: center;
}

.title,
.terminal-container {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin: 2rem;
}

.btn-container {
  margin: 25px auto;
  display: flex;
  justify-content: center;
}

#resume-btn {
  text-decoration: none;
}
#github-link {
  text-align: center;
  margin: 0.8rem;
}
#github-link a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-weight: 600;
}

/* Projects page */
.single-project {
  text-align: center;
  margin-bottom: 3rem;
}
.project-info,
.project-img-container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2rem;
}
.project-info {
  max-width: 400px;
  text-align: left;
}
#project-title {
  margin-bottom: 0.8rem;
}

#project-img {
  width: 400px;
}
.project-links {
  margin: 25px 5px;
}
#github-icon {
  font-size: 30px;
  color: rgb(39, 39, 39);
}

/* Contact page */
#links-list {
  margin-top: 2rem;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  display: flex;
}
#links-list li {
  padding: 0.3rem 0.8rem;
}
#links-list li a {
  text-decoration: none !important;
  color: rgb(39, 39, 39);
}
