{% extends "base.html" %}
{% block title %} {{ blog.title }} {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="blog-post">
    <div class="blog-info">
        <h1 id="blog-title"> {{ blog.title }} </h1>
        <div class="blog-img">
            <img src="{{blog.picture_url}}" alt="header img">
        </div>
        <p id="blog-description">
            {{ blog.content }}
        </p>
    </div>
</div>
<form method="post" id="remove-blog">
    <div class="btn-container">
        <input type="submit" value="Delete">
    </div>
</form>
{% endblock %}