{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/blog.css') }}">
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block header %}
<div class="header">
    <h1>
        {% block title %} {{ blog.title }} {% endblock %}
    </h1>
    <div>
        <h5>{{user.name}}</h5>
        <h6>{{blog.date}}</h6>
    </div>
</div>
{% if current_user.is_authenticated %}
<div class="edit-btn-container">
    <a href="/blogs/{{blog.id}}/edit">
        <button>Edit</button>
    </a>
</div>
{%endif%}
{% endblock %}

{% block content %}
<div class="blog-post">
    <div class="single-blog-info">
        <div class="post-img-container">
            <img src="{{blog.picture_url}}" alt="header img" id="post-header-img">
        </div>
        <p id="single-blog-description">
            {{ blog.content }}
        </p>
    </div>
</div>
{% endblock %}