{% extends "base.html" %}
{% block title %}Blog Posts{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
{% for blog in blogs %}
<div class="single-project">
    <div class="project-info">
        <h2 id="project-title">
            {{ blog.title }}
        </h2>
        <p id="project-description">
            {{ blog.content[0:100] }} ...
        </p>
        <button type="button"><a href="blogs/{{blog.id}}">Read more</a></button>
    </div>
    <div class="project-img-container">
        <img src="{{blog.picture_url}}"
            alt="project screenshot" id="project-img" title="project screenshot" id="project-img">
    </div>
</div>
{% endfor %}
{% endblock %}