{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/blog.css') }}">
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}


{% block header %}
<div class="header">
    <h1>
        {% block title %}
        Blog 📝
        {% endblock %}
    </h1>
    {% if current_user.is_authenticated %}
    <a href="blogs/new" id="page-link">
        <button>Create a post</button>
    </a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{% if not blogs_pagination.items %}
<h4 id="no-posts">No posts yet</h4>
{% else %}
{% for blog in blogs_pagination.items %}
<div class="blog">
    <div class="blog-body">
        <h2 id="blog-title">
            {{ blog.title }}
        </h2>
        <p id="blog-description">
            {{ blog.content[0:100] }} ...
        </p>
        <a href="blogs/{{blog.id}}" id="blog-link">
            <button type="button">Read more</button>
        </a>
    </div>
    <div class="blog-img-container">
        <img id="blog-img" src="{{blog.picture_url}}">
    </div>
</div>
{% endfor %}
{% endif %}

{% if blogs_pagination.items %}
<div id="pagination">
    {% if blogs_pagination.prev_num %}
    <a href="/blogs?page={{ blogs_pagination.prev_num }}">
        <i class="fa-solid fa-arrow-left-long"></i>
        Previous
    </a>
    {%endif%}
    <span> - {{page_number}} - </span>
    {% if blogs_pagination.next_num %}
    <a href="/blogs?page={{ blogs_pagination.next_num }}">
        Next
        <i class="fa-solid fa-arrow-right-long"></i>
    </a>
    {%endif%}
</div>
{% endif %}
{% endblock %}