{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block header %}
<h1>
    {% block title %} {{ blog.title }} {% endblock %}
</h1>
<h4>{{user.name}}</h4>
<h5>{{blog.date}}</h5>
{% if current_user.is_authenticated %}
<form method="post" id="delete-form">
    <!-- <div class="btn-container" id="delete-btn"> -->
    <input type="submit" value="Delete" class="input-btn">
    <!-- </div> -->
</form>
{%endif%}
{% endblock %}

{% block content %}
<div class="blog-post">
    <div class="single-blog-info">
        <div class="post-img-container">
            <img src="{{blog.picture_url}}" alt="header img" id="post-header-img">
        </div>
        <p id="single-blog-description">
            {{ blog.content }}
        </p>
    </div>
</div>
{% endblock %}