{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}


{% block header %}
<div>
    <h1>
        {% block title %}
        Blog posts 📝
        {% endblock %}
    </h1>
</div>
<div class="create-post">
    <button><a href="blogs/new">Create a post</a></button>
</div>
{% endblock %}

{% block content %}
{% for blog in blogs %}
<div class="blog-post">
    <div class="blog-info">
        <h2 id="blog-title">
            {{ blog.title }}
        </h2>
        <p id="blog-description">
            {{ blog.content[0:100] }} ...
        </p>
        <div class="btn-container">
            <button type="button"><a href="blogs/{{blog.id}}">Read more</a></button>
        </div>
    </div>

    <div class="blog-img-container">
        <img src="{{blog.picture_url}}" id="blog-img">
    </div>
</div>
{% endfor %}
{% endblock %}