{% extends "base.html" %}
{% block title %}New Blog Post{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
<form method="post">
    <h2>New Blog Post:</h2>
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" 
      placeholder="Learning Flask" value="{{ request.form['title'] }}">
    </div>
    <div>
      <label for="content">Content:</label>
      <textarea name="content" id="content" placeholder="Insert text here...">{{ request.form['content'] }}</textarea>
    </div>
    <div>
      <label for="picture_url">Header image URL:</label>
      <input type="text" name="picture_url" id="picture_url" 
      placeholder="https://www.image.com/image.jpg"
      value="{{ request.form['picture_url'] }}">
    </div>
    <input type="submit" value="Add">
</form>

{% endblock %}