@import "variables.css";

/* Navigation buttons */
a button {
    background-color: var(--light-green) !important;
    color: var(--white) !important;
    border: none;
    border-radius: 0.25rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
}

a button:hover {
    background-color: var(--green) !important;
}


/* Anchor tags */
a {
    text-decoration: none;
}

/* Buttons inside forms */
form button {
    background-color: var(--light-green) !important;
    color: var(--white) !important;
    border: none;
    border-radius: 0.25rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
}

form button:hover {
    background-color: var(--green) !important;
}

/* Delete Button */
#delete-btn {
    background-color: var(--light-red) !important;
}

#delete-btn:hover {
    background-color: var(--red) !important;
}