@import "variables.css";

/* Navigation buttons */
a button {
    background-color: var(--light-green);
    color: var(--white);
    border: none;
    border-radius: 0.25rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
}

a button:hover {
    background-color: var(--green);
}

/* Anchor tags */
a {
    text-decoration: none;
    color: var(--foreground);
}

/* Buttons inside forms */
form button {
    background-color: var(--light-green);
    color: var(--white);
    border: none;
    border-radius: 0.25rem;
    width: 150px;
    height: 40px;
    transition: 0.5s;
    cursor: pointer;
}