@import 'variables.css';

.project-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    padding-bottom: 1rem;
}

.project-info,
.project-img-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 1.5rem 1rem;
}

#project-img {
    width: 100%;
}

.links-row {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Single project */
.project {
    width: 100%;
    display: flex;
}

.project form {
    width: 70%;
    margin: 0 auto;
}

.project form .input-container {
    width: 100%;
    margin-bottom: 1.5rem;
}

.project form .input-container input,
.project form .input-container textarea {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.3rem 0;
}

@media(max-width: 50em) {
    .project-container {
        flex-direction: column;
        padding-bottom: 3rem;
    }


    .project-info,
    .project-img-container {
        width: 100%;
        margin: 1.5em auto;
    }

    .project-container>* {
        margin-bottom: 0;
    }

    .project form {
        width: 100%;
    }

}