/* Google Font - Fira Code */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  --black: rgb(30, 30, 30);
  --white: rgb(248, 248, 248);
  --light-green: rgb(44, 193, 106);
  --light-grey: rgb(142, 142, 142);
  --grey: rgb(94, 94, 94);
  --dark-grey: rgb(70, 70, 70);
  --blue: rgb(66, 116, 255);
  --foreground: var(--black);
  --input-background: var(--white);
  --red: rgb(255, 89, 89);
}

/* Defaults */
* {
  font-family: "Fira Code", "Monaco", "Consolas", monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  color: var(--foreground);
  transition: background-color 0.5s ease-in-out;
}

/* Buttons */
/* Light mode button */
button {
  background-color: var(--light-green);
  color: var(--white);
  border: none;
  border-radius: 0.25rem;
  width: 150px;
  height: 40px;
  transition: 0.5s;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: var(--grey);
}

a {
  text-decoration: none;
}

#page-link {
  color: var(--white);
}

form button:hover {
  background-color: var(--grey);
}

#edit-btn {
  text-align: center;
}


/* Dark Mode */
.dark-mode {
  background: var(--black) !important;
  color: var(--white) !important;
  --foreground: var(--white);
  --input-background: var(--black);
}

.dark-mode #moon-icon {
  display: block;
}

.dark-mode #sun-icon {
  display: none;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p,
.dark-mode a,
.dark-mode i,
.dark-mode #cursor {
  color: var(--white);
}

/* Dark mode button */
.dark-mode button {
  background-color: var(--light-green);
}

.dark-mode .btn-container button:hover {
  background-color: var(--light-grey) !important;
}

.dark-mode .input-btn {
  background-color: var(--light-green);
}

.dark-mode input,
.dark-mode textarea {
  background-color: var(--dark-grey);
}

/* Navigation Bar */
.menubar {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  max-width: 1900px;
  margin: 0 auto;
}

.menu-menu-container {
  display: none;
  grid-template-columns: auto;
}

.hambuger-icon {
  padding: 0 0 0 1rem;
  display: none;
}

#tilde {
  color: var(--blue);
  font-weight: bold;
}

/* Moon icon only shows when dark mode is activated */
#moon-icon {
  display: none;
}

#menu-items {
  list-style-type: none;
  overflow: hidden;
}

#menu-items li {
  display: inline;
}

#menu-item {
  text-decoration: none;
  margin-left: 50px;
  transition: 0.3s;
}

#menu-item:hover {
  font-weight: bolder;
}

.menu-container {
  float: right;
  margin: 0.9rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.home-container {
  display: inline-block;
  margin: 0.9rem;
  width: 202px;
}

.home-container a {
  text-decoration: none;
}

#theme-swticher {
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  padding-left: 1rem;
}

.login-btn {
  margin-left: 2rem;
  margin-right: 1rem;
  width: 100px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: var(--grey);
}

/************************/

/* Body */
body {
  width: 100%;
}

.container {
  /* max-width: 1440px; */
  margin: 0 auto;
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  padding: 5vh 0 5vh 0;
}

.btn-container {
  margin: 25px auto;
  display: flex;
  justify-content: center;
}

/* Header */
header {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50vw;
}

header div {
  overflow: hidden;
  justify-self: center;
  /* width: 50%; */
}

/* Pagination */
#pagination {
  margin: auto;
}

#pagination a {
  text-decoration: none;
}

/* Home */
.header {
  text-align: center;
  width: 100%;
}

.title,
.img-container {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2rem;
}

.img-container img {
  width: 100%;
  max-width: 400px;
}

#resume-btn {
  text-decoration: none;
}

#github-link {
  text-align: center;
  margin: 0.8rem;
}

#github-link a {
  text-decoration: none;
  font-weight: 600;
}

#languages {
  padding-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

#languages h5 {
  width: fit-content;
  margin-right: 0.3rem;
}

.programming-icon {
  color: var(--white) !important;
  padding: 0.3rem;
}

.programming-icon i {
  color: var(--white) !important;
}

#py {
  background-color: rgb(26, 102, 218);
}

#cs {
  background-color: rgb(149, 54, 228);
}

#js {
  background-color: rgb(255, 204, 38);
}

#java {
  background-color: rgb(236, 70, 70);
}

.single-project,
.blog-post {
  border-radius: 5px;
  padding: 1rem 2rem;
}

/* Blog Grid */
.blog-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 23rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  align-items: center;
}

.blog {
  overflow: hidden;
  padding: 2rem;
  justify-self: center;
  text-align: center;
}

.blog-img img {
  width: 90%;
  height: auto;
}

.blog-body {
  margin-top: 0.5rem;
}

/* Single Project */
.project-container {
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 1rem 9%;
  justify-content: center;
}

.project-info,
.project-img {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin: 1rem 2rem;
  width: 50%;
}

.project-info,
.blog-info {
  width: 50%;
  text-align: left;
}

#project-title,
#blog-title {
  margin-bottom: 0.8rem;
}

.project-img img {
  width: 100%;
}

.project-links {
  margin: 25px 5px;
}

#github-icon {
  font-size: 20px;
}

.repo-link {
  text-decoration: none;
  font-size: 16px;
}

/* Contact page */
.contact-container {
  text-align: center;
}

#links-list {
  margin: 2rem auto;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

#links-list li {
  padding: 0.3rem 0.8rem;
}

#links-list li a {
  text-decoration: none !important;
}



/* Forms */
form {
  width: 50vw;
  padding: 0rem 2rem;
}

input {
  height: 32px;
  width: inherit;
  padding: 5px;
  margin-top: 0.5rem;
  color: var(--foreground);
  border-radius: 5px;
  border: 1px solid var(--light-grey);
}

/* .input-btn {
  background-color: var(--light-green);
  color: var(--white);
  border: none;
  font-weight: bolder;
  border-radius: 0.25rem;
  width: 150px;
  height: 40px;
  cursor: pointer;
} */

textarea {
  padding: 5px;
  width: inherit;
  height: 40vh;
  margin-top: 0.5rem;
  color: var(--foreground);
  border-radius: 5px;
  border: 1px solid var(--light-grey);
}

#description {
  width: inherit;
  height: 10vh;
}

.input-container {
  width: 100%;
  padding-bottom: 1rem;
}

/* Login / Register Forms */
.login-register {
  width: 30vw;
  margin: 0 auto;
}

/* Single Post */
.single-blog-info {
  width: 60%;
  margin: auto;
}

#delete-btn {
  justify-content: flex-end;
  background-color: var(--red) !important;
}

.post-img-container {
  text-align: center;
  padding-bottom: 1rem;
}

#post-header-img {
  width: 60%;
}

#delete-form {
  width: inherit;
  padding-bottom: 0.2rem;
  padding-right: 0;

}

#single-blog-description {
  padding: 1rem 5rem;
}

/* Responsive */
@media screen and (min-width: 1050px) {
  .container {
    padding: 5vh 10% 5vh 10%;
  }

  .menubar {
    padding: 0 10%;
  }
}


@media screen and (max-width: 1050px) {
  .menu-container #menu-items {
    display: none;
  }

  .menu-container a.hambuger-icon {
    display: block;
  }
}

@media screen and (max-width: 1050px) {

  .single-blog-info {
    width: 90%;
  }

  #single-blog-description {
    padding: 1rem 1rem;
  }

  #menu-items.responsive {
    position: relative;
  }

  .menubar.responsive {
    grid-template-rows: auto auto;
  }

  .menu-menu-container.responsive {
    display: block;
    padding-bottom: 2rem;
    width: 100%;
  }

  .menu-menu-container.responsive #menu-items {
    text-align: left;
    display: grid;
    grid-row: 2;
    grid-column: 1;
  }

  .menu-menu-container.responsive #menu-items li {
    display: grid;
    padding-bottom: 0.5rem;
  }

  .menu-menu-container.responsive #menu-items li a {
    margin: 0.2rem 0.9rem;
  }

  .menu-menu-container.responsive .login-btn,
  #login-status {
    margin: 0.2rem 0.9rem;
  }

  #login-status {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  .project-container {
    flex-wrap: wrap;
    padding: 1rem 0.2rem;
  }

  .project-img,
  .project-info {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  form {
    width: 70vw !important;
  }

  .login-register {
    width: 70vw !important;
  }

  .blog-grid {
    width: 100vw;
  }

  .blog {
    padding: 0 0.5rem;
  }

  header {
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  header>button {
    margin: 0 auto;
  }

  .menubar {
    padding-left: 0;
    padding-right: 0;
    width: inherit;
  }

  .menubar>div {
    padding: 0 10px;
  }
}