/* Google Font - Fira Code */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/* Defaults */
:root {
  --black: rgb(39, 39, 39);
  --white: #fff;
  --grey: rgb(83, 83, 83);
}

* {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Header */
header {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

header div {
  overflow: hidden;
  padding: 1rem;
  justify-self: center;
}

/* Pagination */
#pagination {
  margin: auto;
  color: var(--black) !important;
}

#pagination a {
  color: var(--black) !important;
  text-decoration: none;
}

/* Navbar */
.menubar {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 25px -17px var(--black);
}

.menu-menu-container {
  display: none;
  grid-template-columns: auto;
}

.hambuger-icon {
  padding: 0 0 0 1rem;
  color: var(--black);
  display: none;
}

button {
  background-color: var(--black);
  border: none;
  border-radius: 0.25rem;
  width: 150px;
  height: 40px;
  transition: 0.5s;
}

button:hover {
  background-color: var(--grey);
}

button a {
  text-decoration: none;
  color: var(--white) !important;
  font-size: larger;
}

.home-container {
  display: inline-block;
  margin: 0.9rem;
}

.menu-container {
  float: right;
  margin: 0.9rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.home-container a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}

#menu-items {
  list-style-type: none;
  overflow: hidden;
}

#menu-items li {
  display: inline;
}

#menu-item {
  text-decoration: none;
  color: rgb(39, 39, 39);
  margin-left: 50px;
  transition: 0.3s;
}

#menu-item:hover {
  font-weight: bolder;
}

#theme-swticher {
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  padding-left: 1rem;
}

.login-btn {
  margin-left: 2rem;
  margin-right: 1rem;
  width: 100px;
}

/* Body */
.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  padding: 5vh 0 5vh 0;
}

.btn-container {
  margin: 25px auto;
  display: flex;
  justify-content: center;
}

/* Home */
.header {
  text-align: center;
}

.title,
.img-container {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2rem;
}

#resume-btn {
  text-decoration: none;
}

#github-link {
  text-align: center;
  margin: 0.8rem;
}

#github-link a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-weight: 600;
}

#languages {
  padding-top: 0.8rem;
}

.programming-icon {
  color: var(--white);
  padding: 0.2rem;
}

#py {
  background-color: rgb(24, 101, 216);

}

#cs {
  background-color: rgb(149, 54, 228);

}

#js {
  background-color: rgb(255, 233, 38);
  color: var(--black);
}

#java {
  background-color: rgb(236, 70, 70);

}

.single-project,
.blog-post {
  border-radius: 5px;
  padding: 1rem 2rem;
}

/* Blog Grid */
.blog-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 33rem;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  align-items: center;
}

.blog {
  overflow: hidden;
  padding: 2rem;
  justify-self: center;
  text-align: center;
}

.blog-img img {
  width: 90%;
  height: auto;
}

.blog-body {
  margin-top: 0.5rem;
}

/* Single Project */
.project-container {
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 1rem 9%;
  justify-content: center;
}

.project-info,
.project-img {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin: 1rem 2rem;
  width: 50%;
}

.project-info,
.blog-info {
  width: 50%;
  text-align: left;
}

#project-title,
#blog-title {
  margin-bottom: 0.8rem;
}

.project-img img {
  width: 100%;
}

.project-links {
  margin: 25px 5px;
}

#github-icon {
  font-size: 30px;
  color: rgb(39, 39, 39);
}

.repo-link {
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
}

/* Contact page */
#links-list {
  margin-top: 2rem;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  display: flex;
}

#links-list li {
  padding: 0.3rem 0.8rem;
}

#links-list li a {
  text-decoration: none !important;
  color: rgb(39, 39, 39);
}



/* Forms */
form {
  width: 50vw;
  padding: 0rem 2rem;
}

input {
  height: 25px;
  width: inherit;
  padding: 5px;
  margin-top: 0.5rem;
}

.input-btn {
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 0.25rem;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

textarea {
  padding: 5px;
  width: inherit;
  height: 40vh;
  margin-top: 0.5rem;
}

#description {
  width: inherit;
  height: 10vh;
}

.input-container {
  width: inherit;
  padding-bottom: 1rem;
}

/* Login / Register Forms */
.login-register {
  width: 30vw;
}

/* Single Post */
.single-blog-info {
  width: 60%;
  margin: auto;
}

#delete-btn {
  justify-content: flex-end;

}

.post-img-container {
  text-align: center;
  padding-bottom: 1rem;
}

#post-header-img {
  width: 60%;
}

#delete-form {
  width: auto;
}

#single-blog-description {
  padding: 1rem 5rem;
}

/* Responsive */
@media screen and (max-width: 1050px) {
  .menu-container #menu-items {
    display: none;
  }

  .menu-container a.hambuger-icon {
    display: block;
  }
}

@media screen and (max-width: 1050px) {

  .single-blog-info {
    width: 90%;
  }

  #single-blog-description {
    padding: 1rem 1rem;
  }

  #menu-items.responsive {
    position: relative;
  }

  .menubar.responsive {
    grid-template-rows: auto auto;
  }

  .menu-menu-container.responsive {
    display: block;
    padding-bottom: 2rem;
    width: 100%;
  }

  .menu-menu-container.responsive #menu-items {
    text-align: left;
    display: grid;
    grid-row: 2;
    grid-column: 1;
  }

  .menu-menu-container.responsive #menu-items li {
    display: grid;
    padding-bottom: 0.5rem;
  }

  .menu-menu-container.responsive #menu-items li a {
    margin: 0.2rem 0.9rem;
  }

  .menu-menu-container.responsive .login-btn,
  .login-status {
    margin: 0.2rem 0.9rem;
  }

  #login-status {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  .project-container {
    flex-wrap: wrap;
    padding: 1rem 0.2rem;
  }

  .project-img,
  .project-info {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  form {
    width: 70vw !important;
  }

  .login-register {
    width: 70vw !important;
  }

  .blog-grid {
    width: 100vw;
  }

  .blog {
    padding: 0 0.5rem;
  }

  header {
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  header>button {
    margin: 0 auto;
  }

  .menubar {
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
  }

  .menubar>div {
    padding: 0 10px;
  }
}