<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:~$ {% block title %}{% endblock %}</title>

    <!-- Javascript files -->
    <script src="{{ url_for('static',filename='js/menu.js') }}" defer></script>
    <script src="{{ url_for('static',filename='js/darkMode.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/f6088cc271.js" crossorigin="anonymous"></script>
    <!-- <script defer src="{{ url_for('static',filename='js/scripts.js') }}" crossorigin="anonymous"></script> -->

    <!-- CSS files -->
    <!-- <link defer rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/buttons.css') }}">

    {% endblock %}
</head>

<body>
    <!-- Navigation menu -->
    {% block nav %}
    <nav>
        <div class="logo-container">
            <a href="/" id="logo" class="">
                :<span id="tilde">~</span>$ Camila Martinez<span id="cursor">_</span>
            </a>
        </div>
        <button id="hamburger-button">
            <span class="sr-only">Menu</span>
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="primary-menu">
            <ul class="navigation">
                <li>
                    <button type="button" id="theme-switcher">
                        <i class="fa-solid fa-circle" id="switch"></i>
                        <i class="fa-solid fa-sun" id="sun-icon"></i>
                        <i class="fa-solid fa-moon" id="moon-icon"></i>
                    </button>
                </li>
                <li>
                    <a href="/projects" id="menu-item">Projects</a>
                </li>
                <li>
                    <a href="/blogs" id="menu-item">Blog</a>
                </li>
                <li>
                    <a href="/contact" id="menu-item">Contact</a>
                </li>
                {% if current_user.is_anonymous %}
                <li>
                    <a href="/login">
                        <button id="login-btn">
                            Login
                        </button>
                    </a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li>
                    <small id="login-status">
                        <a href="{{ url_for('users.logout') }}">
                            <button class="logout-btn">
                                Logout
                            </button>
                        </a>
                        {{ current_user.name }}
                    </small>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="mobile-menu">
            <!-- This is where navigation will go depending on screen size -->
        </div>
    </nav>
    {% endblock %}

    <!-- Content -->
    <div class="container">
        {% block header_container %}
        <div class="header">
            {% block header %}
            {% endblock %}
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
</body>

</html>