<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Camila Martinez</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/f6088cc271.js" crossorigin="anonymous" defer></script>
    <script src="../static/js/scripts.js" crossorigin="anonymous" defer></script>
    {% endblock %}
</head>

<body>
    {% block nav %}
    <nav class="menubar">
        <div class="home-container">
            <a href="/" class="menuItem" id="home">Camila Martinez</a>
        </div>
        <div class="menu-container" id="navbar">
            <button type="button" id="theme-swticher" id="check" onclick="activateDarkMode()"><i
                    class="fa-solid fa-moon"></i></button>
            <!-- <input type="checkbox" id="check" onclick="changeStatus()"></input> -->
            <a href="javascript:void(0);" class="hambuger-icon" onclick="toggleMenu()">
                <i class="fa-solid fa-bars"></i>
            </a>
            <ul id="menu-items">
                <li><a href="/projects" id="menu-item">Projects</a></li>
                <li><a href="/blogs" id="menu-item">Blog</a></li>
                <li><a href="/contact" id="menu-item">Contact</a></li>
                <li>{% if current_user.is_anonymous %}
                    <button class="login-btn"><a href="/login">Login</a></button>
                    {% endif %}
                </li>
                <li> {% if current_user.is_authenticated %}
                    <small id="login-status">
                        <button class="login-btn">
                            <a href="{{ url_for('users.logout') }}">Logout</a>
                        </button>
                        {{ current_user.name }}
                    </small>
                    {% endif %}
                </li>
            </ul>

        </div>
        <div id="menu-menu" class="menu-menu-container"></div>
    </nav>
    {% endblock %}
    <div class="container">
        <header>
            {% block header %}
            {% endblock %}
        </header>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>