{% extends "base.html" %}
{% block title %}Home 🏠{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="home-header">
	<div class="column" id="left-col">
		<h1>
			Hi👋
			<br>
			I'm Camila
		</h1>
		<br>
		<h3>Software Engineering student</h3>
		<h4>Lima, PE -> 📍 Berlin, DE</h4>
		<div id="languages-container">
			<h5 class="programming-icon" id="py">
				<i class="fa-brands fa-python"></i>
				Python
			</h5>
			<h5 class="programming-icon" id="js">
				<i class="fa-brands fa-js"></i>
				Javascript
			</h5>
			<h5 class="programming-icon" id="java">
				<i class="fa-brands fa-java"></i>
				Java
			</h5>
			<h5 class="programming-icon" id="cs">
				C# CSharp
			</h5>
		</div>
		<div class="btn-container">
			<a href="projects">
				<button id="btn-projects">
					Projects
				</button>
			</a>
		</div>
	</div>
	<div class="column" id="right-col">
		<img src="../static/img/laptop.png" alt="laptop" title="laptop icon" id="laptop-img">
	</div>
</div>
<div class="github-link">
	<a href="https://github.com/cammarb">
		Check out my
		<i class="fa-brands fa-github"></i>
		GitHub
		page!
	</a>
</div>
{% endblock %}