{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="header">
	<div class="title">
		<h1>Hi👋
			<br>
			I'm Camila
		</h1>
		<br>
		<h3>Software Engineering student</h3>
		<h4>Lima, PE -> 📍 Berlin, DE</h4>
		<div class="btn-container">
			<button id="btn-projects"><a href="projects">Projects</a></button>
		</div>
	</div>
	<div class="img-container">
		<img src="https://cdn-icons-png.flaticon.com/512/2103/2103689.png" alt="laptop" title="laptop icon"
			height="200px">
	</div>
	<p id="github-link">Check out my
		<a href="https://github.com/cammarb">
			<i class="fa-brands fa-github"></i> GitHub
		</a>
		page!
	</p>
</div>
{% endblock %}