{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="header">
	<div class="title">
		<h1>Hi👋
			<br>
			I'm Camila
		</h1>
		<br>
		<h3>Software Engineering student</h3>
		<h4>Lima, PE -> 📍 Berlin, DE</h4>
		<h5 id="languages">
			<span class="programming-icon" id="py"><i class="fa-brands fa-python"></i> Python</span>
			<span class="programming-icon" id="js"><i class="fa-brands fa-js"></i> Javascript</span>
			<span class="programming-icon" id="java"><i class="fa-brands fa-java"></i> Java</span>
			<span class="programming-icon" id="cs">C# CSharp</span>
		</h5>
		<div class="btn-container">
			<button id="btn-projects"><a href="projects">Projects</a></button>
		</div>
	</div>
	<div class="img-container">
		<img src="../static/img/laptop.png" alt="laptop" title="laptop icon" height="400px">
	</div>
	<p id="github-link">Check out my
		<a href="https://github.com/cammarb">
			<i class="fa-brands fa-github"></i> GitHub
		</a>
		page!
	</p>
</div>
{% endblock %}