{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="single-project">
    <div class="project-info">
        <h2 id="project-title">Project #1</h2>
        <p id="project-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus scelerisque scelerisque rutrum.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <div class="project-links">
            <a href="https://github.com/cammarb">
                <i class="fa-brands fa-github" id="github-icon"></i>
            </a>
        </div>
    </div>
    <div class="project-img-container">
        <img src="https://raw.githubusercontent.com/cammarb/BinaryConverter/master/img/Home_ss.png"
            alt="project screenshot" id="project-img" title="project screenshot" id="project-img">
    </div>
</div>

<div class="single-project">
    <div class="project-info">
        <h2 id="project-title">Project #2</h2>
        <p id="project-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus scelerisque scelerisque rutrum.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <div class="project-links">
            <a href="https://github.com/cammarb">
                <i class="fa-brands fa-github" id="github-icon"></i>
            </a>
        </div>
    </div>
    <div class="project-img-container">
        <img src="https://raw.githubusercontent.com/cammarb/BinaryConverter/master/img/Home_ss.png"
            alt="project screenshot" id="project-img" title="project screenshot" id="project-img">
    </div>
</div>
{% endblock %}